= form_for @item do |f|
  -if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :location
    = f.text_field :location, readonly:true
    (drag map marker to set location)
    #map-selector{:'data-zoom'=>@item.coordinates.nil? ? 3 : 12, :'data-lat'=>@item.coordinates.nil? ? '38.0' : @item.coordinates[:lat], :'data-lng'=>@item.coordinates.nil? ? '-97.0' : @item.coordinates[:lng]}
      Loading map...
  .actions
    = f.submit 'Save'

:javascript
  jQuery(function(){
    var lat = $('#map-selector').data('lat'),
        lng = $('#map-selector').data('lng'),
        map = LocalCRUD.initGmap('#map-selector', [lat,lng], undefined, $('#map-selector').data('zoom')),
        marker = new google.maps.Marker({
          position:   new google.maps.LatLng(lat,lng),
          map:        map,
          draggable:  true
        });
    
    
    google.maps.event.addListener(marker, 'drag', function(){
      var lat,lng;
      lat = marker.getPosition().lat().toString().match(/-?\d+.?\d{0,5}/)[0]
      lng = marker.getPosition().lng().toString().match(/-?\d+.?\d{0,5}/)[0]
      $('#item_location').val(lat + ', ' + lng);
    });
  });